{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI GPT Maker",
    "description": "Documentação completa da API do GPT Maker",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.gptmaker.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v2/workspaces": {
      "get": {
        "description": "Lista os workspaces da conta",
        "responses": {
          "200": {
            "description": "Lista de workspaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workspace"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/workspace/{workspaceId}/credits": {
      "get": {
        "description": "Lista a quantidade de crédito disponível na conta.",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "ID do workspace",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quantidade de crédito disponível",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credits"
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/workspace/{workspaceId}/agents": {
      "get": {
        "description": "Lista os agentes disponíveis nesse workspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "ID do workspace",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Tamanho da página",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Filtro pelo nome do agente",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de agentes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Assistant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Cria um novo agente no workspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "ID do workspace",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados do agente a ser criado",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAssistant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agente criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assistant"
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{agentId}": {
      "put": {
        "description": "Atualiza os detalhes de um agente existente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados do agente a serem atualizados",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAssistant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agente atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assistant"
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Busca dados do agente por ID",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dados do agente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assistant"
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Remover agente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agente removido com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{agentId}/inactive": {
      "put": {
        "description": "Inativa um agente existente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agente inativado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{agentId}/active": {
      "put": {
        "description": "Ativa um agente existente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agente ativado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{agentId}/settings": {
      "get": {
        "description": "Obtém as configurações de um agente existente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configurações do agente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prefferModel": {
                      "type": "string",
                      "description": "Modelo de LLM preferido",
                      "enum": [
                        "GPT_5",
                        "GPT_5_MINI",
                        "GPT_5_1",
                        "GPT_5_2",
                        "GPT_5_MINI_V2",
                        "GPT_4_TURBO",
                        "OPEN_AI_04",
                        "OPEN_AI_03_MINI_BETA",
                        "GPT_4_1",
                        "GPT_4_1_MINI",
                        "GPT_4_O_MINI",
                        "GPT_4_O",
                        "OPEN_AI_O3_MINI",
                        "OPEN_AI_O4_MINI",
                        "OPEN_AI_O3",
                        "OPEN_AI_O1",
                        "GPT_4",
                        "CLAUDE_4_5_SONNET",
                        "CLAUDE_3_5_SONNET",
                        "CLAUDE_3_7_SONNET",
                        "CLAUDE_3_5_HAIKU",
                        "DEEPINFRA_LLAMA3_3",
                        "QWEN_2_5_MAX",
                        "DEEPSEEK_CHAT",
                        "SABIA_3",
                        "SABIA_3_1"
                      ]
                    },
                    "timezone": {
                      "type": "string",
                      "description": "Timezone do agente"
                    },
                    "enabledHumanTransfer": {
                      "type": "boolean",
                      "description": "Define se o agente pode transferir para humano"
                    },
                    "enabledReminder": {
                      "type": "boolean",
                      "description": "Define se pode agendar lembretes"
                    },
                    "splitMessages": {
                      "type": "boolean",
                      "description": "Define se a mensagem será dividida em várias, caso seja muito grande"
                    },
                    "enabledEmoji": {
                      "type": "boolean",
                      "description": "Define se pode usar emojis nas respostas"
                    },
                    "limitSubjects": {
                      "type": "boolean",
                      "description": "Define se pode falar de outros assuntos ou apenas relacionado à empresa ou produto"
                    },
                    "messageGroupingTime": {
                      "type": "string",
                      "description": "Modelo de LLM preferido",
                      "enum": [
                        "NO_GROUP",
                        "FIVE_SEC",
                        "TEN_SEC",
                        "THIRD_SEC",
                        "ONE_MINUTE"
                      ]
                    },
                    "maxDailyMessages": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Define o que acontece ao atingir o limite de interações por atendimento, se for nulo não usa maxDailyMessagesLimitAction"
                    },
                    "maxDailyMessagesLimitAction": {
                      "type": "string",
                      "enum": [
                        "TEMP_BLOCK_30S",
                        "TEMP_BLOCK_5M",
                        "TEMP_BLOCK_10M",
                        "TEMP_BLOCK_30M",
                        "TEMP_BLOCK_1H",
                        "BLOCK",
                        "TRANSFER"
                      ],
                      "description": "Define o que acontece ao atingir o limite de interações por atendimento, vai ser usado apenas quando o maxDailyMessages não for nulo."
                    },
                    "knowledgeByFunction": {
                      "type": "boolean",
                      "description": "É reponsável por ativar a busca inteligênte do treinamento aonde o agente consulta a base de treinamentos no momento certo, para trazer respostas mais precisas"
                    },
                    "onLackKnowLedge": {
                      "type": "string",
                      "description": "Na falta de conhecimento o agente lança um weebhook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Atualiza as configurações de um agente existente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Configurações do agente a serem atualizadas",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prefferModel": {
                    "type": "string",
                    "description": "Modelo de LLM preferido",
                    "enum": [
                      "GPT_5",
                      "GPT_5_MINI",
                      "GPT_5_1",
                      "GPT_5_2",
                      "GPT_5_MINI_V2",
                      "GPT_4_TURBO",
                      "OPEN_AI_04",
                      "OPEN_AI_03_MINI_BETA",
                      "GPT_4_1",
                      "GPT_4_1_MINI",
                      "GPT_4_O_MINI",
                      "GPT_4_O",
                      "OPEN_AI_O3_MINI",
                      "OPEN_AI_O4_MINI",
                      "OPEN_AI_O3",
                      "OPEN_AI_O1",
                      "GPT_4",
                      "CLAUDE_4_5_SONNET",
                      "CLAUDE_3_5_SONNET",
                      "CLAUDE_3_7_SONNET",
                      "CLAUDE_3_5_HAIKU",
                      "DEEPINFRA_LLAMA3_3",
                      "QWEN_2_5_MAX",
                      "DEEPSEEK_CHAT",
                      "SABIA_3",
                      "SABIA_3_1"
                    ]
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Timezone do agente"
                  },
                  "enabledHumanTransfer": {
                    "type": "boolean",
                    "description": "Define se o agente pode transferir para humano"
                  },
                  "enabledReminder": {
                    "type": "boolean",
                    "description": "Define se pode agendar lembretes"
                  },
                  "splitMessages": {
                    "type": "boolean",
                    "description": "Define se a mensagem será dividida em várias, caso seja muito grande"
                  },
                  "enabledEmoji": {
                    "type": "boolean",
                    "description": "Define se pode usar emojis nas respostas"
                  },
                  "limitSubjects": {
                    "type": "boolean",
                    "description": "Define se pode falar de outros assuntos ou apenas relacionado à empresa ou produto"
                  },
                  "messageGroupingTime": {
                    "type": "string",
                    "description": "Modelo de LLM preferido",
                    "enum": [
                      "NO_GROUP",
                      "FIVE_SEC",
                      "TEN_SEC",
                      "THIRD_SEC",
                      "ONE_MINUTE"
                    ]
                  },
                  "signMessages": {
                    "type": "boolean",
                    "description": "Define se a mensagem do agente vai ser assinada ou não"
                  },
                  "maxDailyMessages": {
                    "type": "integer",
                    "description": "É o limite de interações por atendimento aonde temos as opções (null) que representa sem limite, (20,50,100,200,500,1000) interações qualquer valor além desses não será aceito"
                  },
                  "maxDailyMessagesLimitAction": {
                    "enum": [
                      "TEMP_BLOCK_30S",
                      "TEMP_BLOCK_5M",
                      "TEMP_BLOCK_10M",
                      "TEMP_BLOCK_30M",
                      "TEMP_BLOCK_1H",
                      "BLOCK",
                      "TRANSFER"
                    ],
                    "description": "Vai ser usado apenas quando maxDailyMessages for diferente de null"
                  },
                  "knowledgeByFunction": {
                    "type": "boolean",
                    "description": "É reponsável por ativar a busca inteligênte do treinamento aonde o agente consulta a base de treinamentos no momento certo, para trazer respostas mais precisas"
                  },
                  "onLackKnowLedge": {
                    "type": "string",
                    "description": "Na falta de conhecimento o agente lança um weebhook"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Configurações atualizadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{agentId}/webhooks": {
      "get": {
        "description": "Obtém os webhooks configurados em um agente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "onNewMessage": {
                      "type": "string",
                      "description": "Webhook disparado automaticamente sempre que uma nova mensagem chega em um chat."
                    },
                    "onLackKnowLedge": {
                      "type": "string",
                      "description": "Webhook disparado quando o agente não sabe responder a uma pergunta."
                    },
                    "onTransfer": {
                      "type": "string",
                      "description": "Webhook disparado quando o agente transfere o atendimento para um humano."
                    },
                    "onFirstInteraction": {
                      "type": "string",
                      "description": "Webhook disparado automaticamente assim que o primeiro atendimento com o cliente é iniciado."
                    },
                    "onStartInteraction": {
                      "type": "string",
                      "description": "Webhook disparado automaticamente sempre que um atendimento com o cliente é iniciado."
                    },
                    "onFinishInteraction": {
                      "type": "string",
                      "description": "Webhook disparado automaticamente sempre que um atendimento é finalizado."
                    },
                    "onCreateEvent": {
                      "type": "string",
                      "description": "Webhook disparado automaticamente sempre que um agendamento é realizado."
                    },
                    "onCancelEvent": {
                      "type": "string",
                      "description": "Webhook disparado automaticamente sempre que um agendamento é cancelado."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Atualiza os webhooks de um agente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Configurações do agente a serem atualizadas",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "onNewMessage": {
                    "type": "string",
                    "description": "Webhook disparado automaticamente sempre que uma nova mensagem chega em um chat."
                  },
                  "onLackKnowLedge": {
                    "type": "string",
                    "description": "Webhook disparado quando o agente não sabe responder a uma pergunta."
                  },
                  "onTransfer": {
                    "type": "string",
                    "description": "Webhook disparado quando o agente transfere o atendimento para um humano."
                  },
                  "onFirstInteraction": {
                    "type": "string",
                    "description": "Webhook disparado automaticamente assim que o primeiro atendimento com o cliente é iniciado."
                  },
                  "onStartInteraction": {
                    "type": "string",
                    "description": "Webhook disparado automaticamente sempre que um atendimento com o cliente é iniciado."
                  },
                  "onFinishInteraction": {
                    "type": "string",
                    "description": "Webhook disparado automaticamente sempre que um atendimento é finalizado."
                  },
                  "onCreateEvent": {
                    "type": "string",
                    "description": "Webhook disparado automaticamente sempre que um agendamento é realizado."
                  },
                  "onCancelEvent": {
                    "type": "string",
                    "description": "Webhook disparado automaticamente sempre que um agendamento é cancelado."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Configurações atualizadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{agentId}/trainings": {
      "get": {
        "description": "Lista os treinamentos do agente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Tamanho da página",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Tipo do treinamento a ser filtrado",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "TEXT",
                "WEBSITE",
                "VIDEO",
                "DOCUMENT"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Filtro para os treinamentos",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de treinamentos",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TextTraining"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebsiteTraining"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VideoTraining"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DocumentTraining"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Adiciona um novo treinamento ao agente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados do treinamento a ser adicionado",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "Texto",
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Tipo do treinamento deve ser TEXT",
                        "enum": [
                          "TEXT"
                        ]
                      },
                      "text": {
                        "type": "string",
                        "description": "Texto do treinamento"
                      },
                      "image": {
                        "type": "string",
                        "description": "URL de uma imagem para o treinamento"
                      },
                      "callbackUrl": {
                        "type": "string",
                        "description": "URL do webhook para notificação quando o treinamento finaliza com sucesso ou erro (opcional)"
                      }
                    }
                  },
                  {
                    "title": "Website",
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Tipo do treinamento deve ser WEBSITE",
                        "enum": [
                          "WEBSITE"
                        ]
                      },
                      "website": {
                        "type": "string",
                        "description": "Website do treinamento"
                      },
                      "trainingSubPages": {
                        "type": "string",
                        "description": "Treinamento em subpáginas",
                        "enum": [
                          "DISABLED",
                          "ACTIVE"
                        ]
                      },
                      "trainingInterval": {
                        "type": "string",
                        "description": "Intervalo de treinamento",
                        "enum": [
                          "THIRTY_SECONDS",
                          "NEVER",
                          "ONE_HOUR",
                          "FOUR_HOUR",
                          "EIGHT_HOUR",
                          "TWELVE_HOUR",
                          "ONE_DAY",
                          "ONE_WEEK",
                          "ONE_MONTH"
                        ]
                      },
                      "callbackUrl": {
                        "type": "string",
                        "description": "URL do webhook para notificação quando o treinamento finaliza com sucesso ou erro (opcional)"
                      }
                    }
                  },
                  {
                    "title": "Vídeo",
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Tipo do treinamento deve ser VIDEO",
                        "enum": [
                          "VIDEO"
                        ]
                      },
                      "video": {
                        "type": "string",
                        "description": "URL Vídeo do treinamento"
                      },
                      "callbackUrl": {
                        "type": "string",
                        "description": "URL do webhook para notificação quando o treinamento finaliza com sucesso ou erro (opcional)"
                      }
                    }
                  },
                  {
                    "title": "Documento",
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Tipo do treinamento",
                        "enum": [
                          "DOCUMENT"
                        ]
                      },
                      "documentUrl": {
                        "type": "string",
                        "description": "URL do documento do treinamento"
                      },
                      "documentName": {
                        "type": "string",
                        "description": "Nome do documento do treinamento"
                      },
                      "documentMimetype": {
                        "type": "string",
                        "description": "Tipo MIME do documento do treinamento"
                      },
                      "callbackUrl": {
                        "type": "string",
                        "description": "URL do webhook para notificação quando o treinamento finaliza com sucesso ou erro (opcional)"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Treinamento adicionado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/training/{trainingId}": {
      "put": {
        "description": "Atualiza um treinamento ao agente. Atualmente só é possível atualizar treinamentos de texto, para os demais treinamentos, é necessário remover e adicionar novamente.",
        "parameters": [
          {
            "name": "trainingId",
            "in": "path",
            "description": "ID do treinamento",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados do treinamento a ser adicionado",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Tipo do treinamento deve ser TEXT",
                        "enum": [
                          "TEXT"
                        ]
                      },
                      "text": {
                        "type": "string",
                        "description": "Texto atualizado do treinamento"
                      },
                      "image": {
                        "type": "string",
                        "description": "URL de uma imagem para o treinamento"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Treinamento atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deleta um treinamento existente",
        "parameters": [
          {
            "name": "trainingId",
            "in": "path",
            "description": "ID do treinamento",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Treinamento deletado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/custom-field/workspace/{workspaceId}": {
      "get": {
        "description": "Lista os campos customizados",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "ID do workspace",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Tamanho da página",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Filtro para os campos customizados",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de campos",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id do campo"
                    },
                    "name": {
                      "type": "string",
                      "description": "nome do campo"
                    },
                    "jsonName": {
                      "type": "string",
                      "description": "nome do arquivo JSON"
                    },
                    "description": {
                      "type": "string",
                      "description": "descrição do campo"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "data de criação do campo"
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "data de atualização do campo"
                    },
                    "type": {
                      "enum": [
                        "STRING",
                        "DATE",
                        "DATE_TIME",
                        "NUMBER",
                        "BOOLEAN",
                        "MONEY"
                      ]
                    },
                    "archived": {
                      "type": "boolean",
                      "description": "mostra se está arquivado ou não"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Cria um novo campo personalizado",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "ID do workspace",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados dos campos a ser adicionado",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id do campo"
                  },
                  "name": {
                    "type": "string",
                    "description": "nome do campo"
                  },
                  "jsonName": {
                    "type": "string",
                    "description": "nome do arquivo JSON"
                  },
                  "description": {
                    "type": "string",
                    "description": "descrição do campo"
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "data de criação do campo"
                  },
                  "updatedAt": {
                    "type": "string",
                    "description": "data de atualização do campo"
                  },
                  "type": {
                    "enum": [
                      "STRING",
                      "DATE",
                      "DATE_TIME",
                      "NUMBER",
                      "BOOLEAN",
                      "MONEY"
                    ]
                  },
                  "archived": {
                    "type": "boolean",
                    "description": "mostra se está arquivado ou não"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Campo adicionado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "jsonName": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "type": {
                      "enum": [
                        "STRING",
                        "DATE",
                        "DATE_TIME",
                        "NUMBER",
                        "BOOLEAN",
                        "MONEY"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/custom-field/{customfieldId}": {
      "put": {
        "description": " Atualiza um campo customizado existente. O campo é identificado pelo seu ID.",
        "parameters": [
          {
            "name": "customfieldId",
            "in": "path",
            "description": "ID do campo",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados do campo customizado a ser atualizado",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Id do campo a ser atualizado"
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome do campo"
                      },
                      "description": {
                        "type": "string",
                        "description": "descrição do campo"
                      },
                      "type": {
                        "enum": [
                          "STRING",
                          "DATE",
                          "DATE_TIME",
                          "NUMBER",
                          "BOOLEAN",
                          "MONEY"
                        ]
                      },
                      "jsonName": {
                        "type": "string",
                        "description": "nome do arquivo JSON"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Campo atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/custom-field/toggle-archive/{customfieldId}": {
      "put": {
        "description": " Atualiza o status de arquivamento de um campo customizado existente. O campo é identificado pelo seu ID e o novo status é passado como parâmetro de query.",
        "parameters": [
          {
            "name": "customfieldId",
            "in": "path",
            "description": "ID do campo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Define se o campo deve ser arquivado (`true`) ou desarquivado (`false`)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Campo atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{agentId}/idle-actions": {
      "get": {
        "description": "Listar as ações de inatividade",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Id do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista as configurações de ações de inatividade",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "actions": {
                      "type": "array",
                      "description": "Lista de ações configuradas para inatividade",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identificador da ação"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "SEND_MESSAGE",
                              "FINISH_INTERACTION"
                            ],
                            "description": "Tipo da ação de inatividade"
                          },
                          "instructions": {
                            "type": "string",
                            "nullable": true,
                            "description": "Mensagem ou instruções da ação"
                          },
                          "workingHours": {
                            "type": "object",
                            "nullable": true,
                            "description": "Horários de funcionamento permitidos para execução da ação",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "tenant": {
                                "type": "string"
                              },
                              "tenantOwner": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "integer",
                                "description": "Timestamp de criação"
                              },
                              "updatedAt": {
                                "type": "integer",
                                "nullable": true,
                                "description": "Timestamp de atualização"
                              },
                              "active": {
                                "type": "boolean"
                              },
                              "days": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "tenant": {
                                      "type": "string"
                                    },
                                    "tenantOwner": {
                                      "type": "string"
                                    },
                                    "createdAt": {
                                      "type": "integer"
                                    },
                                    "updatedAt": {
                                      "type": "integer",
                                      "nullable": true
                                    },
                                    "active": {
                                      "type": "boolean"
                                    },
                                    "dayWeek": {
                                      "type": "integer",
                                      "description": "Dia da semana (0=Domingo, 1=Segunda, ...)"
                                    },
                                    "hours": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "tenant": {
                                            "type": "string"
                                          },
                                          "tenantOwner": {
                                            "type": "string"
                                          },
                                          "createdAt": {
                                            "type": "integer"
                                          },
                                          "updatedAt": {
                                            "type": "integer",
                                            "nullable": true
                                          },
                                          "start": {
                                            "type": "string",
                                            "example": "08:00"
                                          },
                                          "end": {
                                            "type": "string",
                                            "example": "12:00"
                                          },
                                          "sequence": {
                                            "type": "integer",
                                            "description": "Ordem do intervalo"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "allowAllHours": {
                            "type": "boolean",
                            "description": "Indica se a ação pode ser executada em qualquer horário"
                          },
                          "seconds": {
                            "type": "integer",
                            "description": "Tempo de inatividade (em segundos) para disparar a ação"
                          }
                        }
                      }
                    },
                    "finishOn": {
                      "type": "object",
                      "description": "Configuração de tempo para finalizar interação",
                      "properties": {
                        "seconds": {
                          "type": "integer",
                          "description": "Tempo total em segundos para finalizar"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Cria uma nova ação de inatividade",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Id do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Configuração de ações de inatividade a ser criada/atualizada",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "instructions": {
                          "type": "string",
                          "description": "Mensagem ou instruções da ação"
                        },
                        "seconds": {
                          "type": "integer",
                          "description": "Tempo em segundos de inatividade para disparar a ação"
                        },
                        "allowAllHours": {
                          "type": "boolean",
                          "default": true,
                          "description": "Define se deve ser executada em qualquer horário ou não, se for true não colocamos workingHours"
                        },
                        "workingHours": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "type": "object",
                            "properties": {
                              "dayWeek": {
                                "type": "integer",
                                "description": "0=Domingo, 1=Segunda, ..., 6=Sábado"
                              },
                              "active": {
                                "type": "boolean",
                                "description": "Define se o dia está ativo"
                              },
                              "hours": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "start": {
                                      "type": "string",
                                      "example": "08:00"
                                    },
                                    "end": {
                                      "type": "string",
                                      "example": "12:00"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "finishOn": {
                    "type": "object",
                    "properties": {
                      "seconds": {
                        "type": "integer",
                        "description": "Tempo total (em segundos) para finalizar a interação"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuração de ações de inatividade criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "actions": {
                      "type": "array",
                      "description": "Lista de ações configuradas para inatividade",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identificador da ação criada"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "SEND_MESSAGE",
                              "TEMP_BLOCK",
                              "FINISH_INTERACTION"
                            ],
                            "description": "Tipo da ação de inatividade"
                          },
                          "instructions": {
                            "type": "string",
                            "nullable": true,
                            "description": "Mensagem/instruções da ação"
                          },
                          "workingHours": {
                            "type": "object",
                            "nullable": true,
                            "description": "Horários de funcionamento aplicáveis à ação",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "tenant": {
                                "type": "string"
                              },
                              "tenantOwner": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "integer"
                              },
                              "updatedAt": {
                                "type": "integer",
                                "nullable": true
                              },
                              "active": {
                                "type": "boolean"
                              },
                              "days": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "tenant": {
                                      "type": "string"
                                    },
                                    "tenantOwner": {
                                      "type": "string"
                                    },
                                    "createdAt": {
                                      "type": "integer"
                                    },
                                    "updatedAt": {
                                      "type": "integer",
                                      "nullable": true
                                    },
                                    "active": {
                                      "type": "boolean"
                                    },
                                    "dayWeek": {
                                      "type": "integer",
                                      "description": "0=Domingo ... 6=Sábado"
                                    },
                                    "hours": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "tenant": {
                                            "type": "string"
                                          },
                                          "tenantOwner": {
                                            "type": "string"
                                          },
                                          "createdAt": {
                                            "type": "integer"
                                          },
                                          "updatedAt": {
                                            "type": "integer",
                                            "nullable": true
                                          },
                                          "start": {
                                            "type": "string",
                                            "example": "08:00"
                                          },
                                          "end": {
                                            "type": "string",
                                            "example": "12:00"
                                          },
                                          "sequence": {
                                            "type": "integer"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "allowAllHours": {
                            "type": "boolean",
                            "description": "Indica se a ação pode ocorrer em qualquer horário"
                          },
                          "seconds": {
                            "type": "integer",
                            "description": "Tempo de inatividade (s) para disparo da ação"
                          }
                        }
                      }
                    },
                    "finishOn": {
                      "type": "object",
                      "description": "Configuração para finalização automática",
                      "properties": {
                        "seconds": {
                          "type": "integer",
                          "description": "Tempo total (s) para finalizar a interação"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Atualizar uma nova ação de inatividade",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Id do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Atualização das ações de inatividade do assistente",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actions": {
                    "type": "array",
                    "description": "Lista de ações configuradas",
                    "items": {
                      "type": "object",
                      "properties": {
                        "instructions": {
                          "type": "string",
                          "description": "Mensagem ou instruções da ação"
                        },
                        "seconds": {
                          "type": "integer",
                          "description": "Tempo de inatividade em segundos"
                        },
                        "allowAllHours": {
                          "type": "boolean",
                          "description": "Se true, ignora restrição de horário"
                        },
                        "workingHours": {
                          "type": "array",
                          "nullable": true,
                          "description": "Lista de dias e horários em que a ação pode ser executada",
                          "items": {
                            "type": "object",
                            "properties": {
                              "dayWeek": {
                                "type": "integer",
                                "description": "Dia da semana (0=Domingo, 1=Segunda, ... 6=Sábado)"
                              },
                              "active": {
                                "type": "boolean",
                                "description": "Define se o dia está ativo"
                              },
                              "hours": {
                                "type": "array",
                                "description": "Faixas de horário do dia",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "start": {
                                      "type": "string",
                                      "example": "08:00"
                                    },
                                    "end": {
                                      "type": "string",
                                      "example": "12:00"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "finishOn": {
                    "type": "object",
                    "description": "Tempo para finalizar interação automaticamente",
                    "properties": {
                      "seconds": {
                        "type": "integer",
                        "description": "Tempo total em segundos"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuração de ações de inatividade atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "actions": {
                      "type": "array",
                      "description": "Lista de ações configuradas para inatividade",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Identificador único da ação"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "SEND_MESSAGE",
                              "FINISH_INTERACTION"
                            ],
                            "description": "Tipo da ação"
                          },
                          "instructions": {
                            "type": "string",
                            "nullable": true,
                            "description": "Mensagem/instruções configuradas para a ação"
                          },
                          "workingHours": {
                            "type": "object",
                            "nullable": true,
                            "description": "Horários de funcionamento da ação (quando allowAllHours=false)",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "tenant": {
                                "type": "string"
                              },
                              "tenantOwner": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "integer"
                              },
                              "updatedAt": {
                                "type": "integer",
                                "nullable": true
                              },
                              "active": {
                                "type": "boolean"
                              },
                              "days": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "tenant": {
                                      "type": "string"
                                    },
                                    "tenantOwner": {
                                      "type": "string"
                                    },
                                    "createdAt": {
                                      "type": "integer"
                                    },
                                    "updatedAt": {
                                      "type": "integer",
                                      "nullable": true
                                    },
                                    "active": {
                                      "type": "boolean"
                                    },
                                    "dayWeek": {
                                      "type": "integer",
                                      "description": "0=Domingo ... 6=Sábado"
                                    },
                                    "hours": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "tenant": {
                                            "type": "string"
                                          },
                                          "tenantOwner": {
                                            "type": "string"
                                          },
                                          "createdAt": {
                                            "type": "integer"
                                          },
                                          "updatedAt": {
                                            "type": "integer",
                                            "nullable": true
                                          },
                                          "start": {
                                            "type": "string",
                                            "example": "08:00"
                                          },
                                          "end": {
                                            "type": "string",
                                            "example": "12:00"
                                          },
                                          "sequence": {
                                            "type": "integer",
                                            "description": "Ordem do intervalo dentro do dia"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "allowAllHours": {
                            "type": "boolean",
                            "description": "Se a ação deve ignorar restrições de horário"
                          },
                          "seconds": {
                            "type": "integer",
                            "description": "Tempo em segundos para disparar a ação"
                          }
                        }
                      }
                    },
                    "finishOn": {
                      "type": "object",
                      "description": "Configuração de tempo total para finalizar automaticamente",
                      "properties": {
                        "seconds": {
                          "type": "integer",
                          "description": "Tempo em segundos para finalizar"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deleta uma ação existente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Ação de inatividade deletada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{id}/transfer-rules": {
      "get": {
        "description": "Lista as regras de transferência",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Id do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista as regras de transferência",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id da regra"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "data de atualização do campo"
                    },
                    "instructions": {
                      "type": "string",
                      "description": "Instruções visíveis na transferência"
                    },
                    "returnOnFinish": {
                      "type": "boolean",
                      "description": "Define se deve retornar ao assistente após o atendimento"
                    },
                    "type": {
                      "enum": [
                        "HUMAN",
                        "AGENT"
                      ]
                    },
                    "agentId": {
                      "type": "string",
                      "nullable": true,
                      "description": "Id do agente de destino (se aplicável)"
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true,
                      "description": "Id do usuário de destino (se aplicável)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{agentId}/transfer-rules": {
      "post": {
        "description": "Cria uma nova regra de transferência para o agente especificado",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Id do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados da regra de transferência a ser adicionado",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "instructions": {
                    "type": "string",
                    "description": "Instruções visíveis na transferência"
                  },
                  "returnOnFinish": {
                    "type": "boolean",
                    "description": "Define se deve retornar ao assistente após o atendimento"
                  },
                  "type": {
                    "enum": [
                      "HUMAN",
                      "AGENT"
                    ]
                  },
                  "userId": {
                    "type": "string",
                    "nullable": true,
                    "description": "Id do usuário de destino (caso o tipo seja HUMAN)"
                  },
                  "agentId": {
                    "type": "string",
                    "nullable": true,
                    "description": "Id do agente de destino (caso o tipo seja AGENT)"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Regra de transferência criada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id da regra"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "data de atualização do campo"
                    },
                    "instructions": {
                      "type": "string",
                      "description": "Instruções visíveis na transferência"
                    },
                    "returnOnFinish": {
                      "type": "boolean",
                      "description": "Define se deve retornar ao assistente após o atendimento"
                    },
                    "type": {
                      "enum": [
                        "HUMAN",
                        "AGENT"
                      ]
                    },
                    "agentId": {
                      "type": "string",
                      "nullable": true,
                      "description": "Id do agente de destino (se aplicável)"
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true,
                      "description": "Id do usuário de destino (se aplicável)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{agentId}/transfer-rules/{transfer-rule-id}": {
      "put": {
        "description": " Atualiza uma regra de transferência existente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transfer-rule-id",
            "in": "path",
            "description": "ID da regra de transferência",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dados da regra de transferência a ser atualizada",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "instructions": {
                        "type": "string",
                        "description": "Instruções visíveis na transferência"
                      },
                      "returnOnFinish": {
                        "type": "boolean",
                        "description": "Define se deve retornar ao assistente após o atendimento"
                      },
                      "type": {
                        "enum": [
                          "HUMAN",
                          "AGENT"
                        ]
                      },
                      "agentId": {
                        "type": "string",
                        "nullable": true,
                        "description": "Id do agente de destino (se aplicável)"
                      },
                      "userId": {
                        "type": "string",
                        "nullable": true,
                        "description": "Id do usuário de destino (se aplicável)"
                      }
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Regra de transferência atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id da regra"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Data de criação da regra de transferência"
                    },
                    "instructions": {
                      "type": "string",
                      "description": "Instruções visíveis na transferência"
                    },
                    "returnOnFinish": {
                      "type": "boolean",
                      "description": "Define se deve retornar ao assistente após o atendimento"
                    },
                    "type": {
                      "enum": [
                        "HUMAN",
                        "AGENT"
                      ]
                    },
                    "agentId": {
                      "type": "string",
                      "nullable": true,
                      "description": "Id do agente de destino (se aplicável)"
                    },
                    "userId": {
                      "type": "string",
                      "nullable": true,
                      "description": "Id do usuário de destino (se aplicável)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": " Deleta uma regra de transferência existente",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "ID do agente",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transfer-rule-id",
            "in": "path",
            "description": "ID da regra de transferência",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Regra de transferência atualizada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "description": "Sucesso ao deletar a regra"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Erro de token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v2/mcp/{mcpId}/tools": {
      "get": {
[...]
